.pokemons-list {
  list-style-type: none;
  padding: 0;
}

.pokemons-list li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

.pokemon-details {
  margin-top: 20px;
}

.pokemon-details img {
  width: 150px;
}
