<div class="pokemons-list">
  <h2>Pokédex</h2>
  <ul>
    <li *ngFor="let pokemon of pokemons" (click)="loadPokemonDetails(pokemon.name)">
      {{ pokemon.name }}
    </li>
  </ul>
</div>

<div class="pokemon-details" *ngIf="selectedPokemon">
  <h3>{{ selectedPokemon.name | uppercase }}</h3>
  <img [src]="selectedPokemon.sprites.front_default" alt="{{ selectedPokemon.name }}" />
  <p>Height: {{ selectedPokemon.height }} dm</p>
  <p>Weight: {{ selectedPokemon.weight }} hg</p>
  <p>Types:
    <span *ngFor="let type of selectedPokemon.types">
      {{ type.type.name }}
    </span>
  </p>
</div>
