.pokemon-list {
  max-width: 100%; /* A largura ocupa 100% da tela */
  margin: 6rem auto 2rem; /* Margem superior para evitar sobreposição com o header */
  padding: 0 2%; /* Padding em porcentagem para flexibilidade */
}

.pokemon-list h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 5vw; /* Font-size dinâmico com base na largura da tela */
  color: #ef5350; /* Cor do título */
}

.pokemon-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Grid flexível, ajustando o número de colunas */
  gap: 1.5rem; /* Espaçamento entre os itens */
  list-style: none;
  padding: 0;
}

.pokemon-list li {
  background-color: #f7f7f7; /* Cor de fundo suave */
  border: 2px solid #ef5350; /* Borda vermelha */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 2%; /* Padding para espaçamento interno */
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo */
  align-items: center;
  flex-direction: column;
}

.pokemon-list li:hover {
  transform: translateY(-5px); /* Efeito de elevação */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.pokemon-list a {
  text-decoration: none;
  color: #333; /* Cor do texto do link */
  font-weight: bold;
  display: block;
  padding: 0.5rem 0; /* Padding adequado para os links */
}

.pokemon-list img {
  max-width: 100%; /* Ajusta a imagem para ocupar a largura do item */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Bordas arredondadas nas imagens */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .pokemon-list {
    margin-top: 8rem; /* Ajusta a margem superior para evitar sobreposição */
    padding: 0 5%; /* Aumenta o padding nas laterais em telas menores */
  }

  .pokemon-list h2 {
    font-size: 8vw; /* Aumenta o tamanho da fonte para telas menores */
    margin-bottom: 1rem;
  }

  .pokemon-list ul {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Menor número de colunas em dispositivos móveis */
    gap: 1rem; /* Reduz o espaçamento entre os itens */
  }

  .pokemon-list li {
    padding: 3%; /* Ajuste do padding para dar mais espaçamento */
  }

  .pokemon-list img {
    max-width: 80%; /* Limita o tamanho das imagens para telas menores */
  }
}
