<!-- src/app/components/pokemon-detail/pokemon-detail.component.html -->
<div *ngIf="pokemon; else loading">
  <h2>{{ pokemon.name | titlecase }}</h2>
  <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
  <p><strong>Height:</strong> {{ pokemon.height }}</p>
  <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
  <p><strong>Types:</strong>
    <span *ngFor="let type of pokemon.types">
      {{ type.type.name }}&nbsp;
    </span>
  </p>
</div>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
