.pokemon-search {
  max-width: 80%; /* Ajustando para ocupar mais espaço em telas maiores */
  margin: 10% auto; /* Mantém uma margem superior de 10%, centralizando o conteúdo */
  padding: 4%; /* Padding em porcentagem para garantir a responsividade */
  background-color: #f9f9f9; /* Cor de fundo suave */
  border-radius: 8px; /* Bordas arredondadas para suavizar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar */
}

.pokemon-search h2 {
  font-family: 'Pokemon', sans-serif;
  text-align: center;
  color: #ff4d4d; /* Vermelho Pokémon */
  font-size: 5vw; /* Usando vw para garantir que a fonte seja responsiva */
  margin-bottom: 4%; /* Espaço abaixo do título */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%; /* O campo de entrada ocupa toda a largura disponível */
  padding: 12px; /* Padding maior para um campo mais confortável */
  font-size: 1.2rem; /* Tamanho da fonte ajustado */
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 4%; /* Espaço inferior entre o input e o botão */
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus {
  border-color: #d32f2f; /* Destaque vermelho ao focar */
  box-shadow: 0 0 5px rgba(211, 47, 47, 0.5); /* Efeito de sombra ao focar */
}

button {
  width: 100%; /* O botão ocupa toda a largura disponível */
  padding: 12px; /* Tamanho do botão ajustado */
  font-size: 1.4rem; /* Tamanho de fonte maior para melhorar a legibilidade */
  color: #fff;
  background-color: #ff4d4d; /* Cor suave para o botão, combinando com o tema */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #9a1c1c; /* Tom mais escuro de vermelho no hover */
}

button:active {
  background-color: #7a1c1c; /* Tom ainda mais escuro no clique */
}

form {
  width: 100%;
}

form button {
  margin-top: 4%; /* Margem superior do botão */
}
